html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

li {list-style: none;}

body { background-color: #c9c8c1;}

input, select, a:focus, button:focus {outline:none;text-decoration: none;}

.main-container {margin-top:30px;}

/* ----------------- Slider-home -------------- */
#slide-container{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	overflow: hidden;
}
.item-image {width: 100%;background-repeat:no-repeat;min-height: 770px;}
#slider {left: 0px;top: 0px;width: 100%;}
.carousel-control {width:90px;height:90px;cursor:pointer;position:absolute;z-index:9999; opacity: 1;}
.carousel-control:hover{opacity:1;}
.carousel-control.left {background-image:url('../img/slider-prev.jpg');top: 315px;left: 5px;}
.carousel-control.right {background-image:url('../img/slider-next.jpg');top: 315px;right: 5px;}
#lista-slider li {float:left;}
.text-slid, .slider-button {display:none;}

div#text-slider {padding-left: 25px;top: 300px;position: absolute;z-index: 9;width: 80%;}
div#text-slider p {font: 48px/50px DINNextRoundedLTProMedium, Arial, Helvetica, sans-serif;color:#fff;}
div#text-slider a {margin-top:20px;width:170px; text-align:center;color:#fff;padding:13px 10px 11px;background-color:#b5251d;border-radius:5px;text-transform:uppercase;display:none;font: 14px/16px DINNextRoundedLTProMedium, Arial, Helvetica, sans-serif;}
div#text-slider a:hover {text-decoration:none;}

@media (min-width:1680px){
.item-image {background-repeat: no-repeat;background-size: cover;height: 870px;}
}

@media (max-width:1199px){
.item-image {background-size: contain;}
.carousel-control.left {top: 240px;left: 0px;}
.carousel-control.right {top: 240px;right: 0px;}
.carousel-control {width:50px;height:50px;background-size: contain;}
div#text-slider {top: 200px;}
}

@media (max-width:1050px){
.item-image {min-height: 470px;background-position: center top;background-size: cover;}
}
@media (max-width:729px){
.item-image {min-height: 400px;}
.carousel-control {display:none;}	
div#text-slider {padding-left: 0px;top: 140px;}
div#text-slider p {font-size:38px; line-height: 40px;}
div#text-slider a {margin-top:0px;}
#slide-container {top:60px;}
}

/*------------------ Header ------------------- */
#header {
	height: 185px;
}

.main-box, #menu {
	height:90px; 
	background-color:#fff;
	margin-bottom:5px;
	padding:25px 25px 0px 25px;
	font: 14px/14px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif; color:#7a707e;
	-khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
} 
#logo-box {height: 58px;width: 169px;float: left;background-image:url('../img/logo_smith.jpg');}
.meniu-interior ul a, #heade-menu a {color:#7a707e;}
.meniu-interior ul a, #heade-menu a:hover {text-decoration:none;color:#7a707e;}
#lang-container {float:right;}
.login-header {padding:5px;border:1px solid #ffcccc; border-radius:5px;float: left;}
#login-button {padding: 9px 15px 5px 15px;border-radius:5px;cursor:pointer;display: block;}
#login-button:hover {background-color:#ffcccc;}
.language-box {
	padding:5px;
	border:1px solid #ffcccc; 
	border-radius:5px;
	margin-left:10px;
	float:left;
	position: relative;
	background-color:#fff;
	-moz-user-select: none; 
	z-index:99;
    
}
#lista-lang {margin-bottom:0px;}
#lista-lang li {display:inline-block;zoom: 1;*display: inline;}
.buton-lang {padding: 8px 10px 6px 10px;border-radius: 5px;background-repeat: no-repeat;background-position: 33px 8px;font-size: 12px;width: 60px;cursor: pointer;color:#7a707e;display: block;}
#button-lista-lang {background:url('../img/sageata-lang.jpg') no-repeat center;width:10px;height:10px;display:none;position: absolute;top: 15px;right: 5px;cursor:pointer;}
.active-lang, .buton-lang:hover {background-color:#ffcccc;}
#romana {background-image:url('../img/lang-romana.jpg');}
#italiana {background-image:url('../img/lang-italiana.jpg');}
#spaniola {background-image:url('../img/lang-spaniola.jpg');}
#engleza {background-image:url('../img/lang-engleza.jpg');}

.nav-big {float:right;}
.lista-nav-big {margin-top:10px;float:right;}
.lista-nav-big li {display: inline;margin-right: 80px;font: 14px/30px DINNextRoundedLTProMedium, Arial, Helvetica, sans-serif;color:#7a707e;cursor:pointer;}
.lista-nav-big li:last-child {margin-right: 35px;}
.lista-nav-big li a {padding:0px;}
.lista-nav-big .activ, .lista-nav-big li:hover {border-bottom: 5px solid #b5251d;padding-bottom: 30px;}

#nav-main {position: absolute;top: 95px;left: 2px;border-radius: 0px;z-index: 1000;}
.menu-box {
	background-color:#fff;
	height:90px;
	padding-top:25px;
	width:1134px;
	
}
.navbar-toggle{background-color:#b5251d;color:#fff;margin: 0px 0px 0px 10px;padding: 14px 20px 10px 20px;font: 14px/14px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;}
.navbar-toggle .icon-bar {display:none;}

@media (max-width: 1199px) {
#header {height: 90px;}
.language-box {padding-right: 20px;overflow:hidden;height:40px;}
#button-lista-lang {display:block;}
#lista-lang li {display:inherit;margin-bottom:5px;}
.buton-lang {display: block;}
.menu-box {width:656px; background-color:transparent;}
.lista-nav-big {float:left;width: 100%;}
#nav-main {top:90px;padding:0px;}
#navbar-collapse {padding:0px;background-color: #fff;border:none;}
.lista-nav-big {margin:0px;}
.lista-nav-big li, .lista-nav-big .activ {display:inherit;margin:0px 25px;padding:15px 0px; border-top:1px solid #c8c8c0;}
.lista-nav-big .activ, .lista-nav-big li:hover {padding-bottom:10px;}
.meniu-interior .lista-nav-big li {padding:18px 0px 11px 0px;}
}

@media (max-width: 729px) {
#header {height: 60px;margin-top:-30px;}
.menu-box {width:296px;}
#heade-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	height: 60px;
}

#logo-box {background-image:url('../img/logo_smith_mic.jpg'); width:126px; height:30px;}
.main-box {padding:15px;}
#login-button {display:none;}
.login-header {
	background-image: url('../img/bkg-login.jpg');
	border: none;
	width: 20px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
}


.language-box {height:30px;padding:10px 0px 0px 0px;border:none;}
#lista-lang a:hover {background:none;}
#lista-lang li {margin-bottom:10px;}
#lista-lang li:first-child {margin-bottom:30px;}
.buton-lang {background:none;background-image:none !important;padding: 0px 5px;width:25px;}
#button-lista-lang {top: 0px;left: 0px;cursor: pointer;width: 100%;height: 30px;background:none;z-index: 99;}
.navbar-toggle {background:none;padding: 9px 0px 0px 0px;}
.menu-button-red {display:none;}
.navbar-toggle .icon-bar {display:block;background-color: #b5251d;}
#nav-main {top:60px;left: 0px;border-radius: 0px;width: 100%;}
.menu-box {height:0px;}
}

/* --------------- Pop-up ------------------------- */

div.modal-content {padding: 25px;border-radius: 0px;box-shadow: none;}
.modal-header, .modal-body {padding:0px;}
p.modal-title {font: 24px/30px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;color:#4f4553;}
.modal-header {border-bottom:5px solid #b5251d;padding-bottom:20px;}
button#close-pop-up {color: #f00;opacity: 1;font-weight: normal;font: 14px/25px MetaSerifBookRegular, Arial, Helvetica, sans-serif;}
button#close-pop-up:after {content: url("../img/x-marks-the-spot.jpg");padding-left:10px;}
div.modal-content .agent-submit {float:right;width:45%;padding:13px 0px 11px;margin-top: -27px;}
#form-login-pop {border-bottom:2px dotted #cac7cc;padding-bottom: 30px;margin-bottom:25px;}
#recovery {padding-top: 10px;display: block;margin-top: 50px;color:#ff0000;}
#recovery:hover {text-decoration:none;}
#sign-up .caseta-titlu {margin-bottom:20px;}
#sign-up p {font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif; color:#6f5f69;}
#sign-up-button, #login-button-pop {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	float: right;
	border:1px solid #b5251d;
	border-radius:5px;
	color:#6f5f69;
	font: 14px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;
	padding: 12px 0px 6px;
	cursor:pointer;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.lable-radio {
	margin-right:30px;
	font: 14px/25px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;
	color:#6f5f69;
}
.submit-sugn-up {
	text-align: right;
	margin-top:75px !important;
}
.submit-sugn-up input{
	float:inherit;
	width: 48%;
}
#sign-up-pop {display:none;}

@media (min-width:729px){
.modal-dialog {width: 600px;margin: 30px auto;}
#sign-up-button, #login-button-pop {width:90%;}

}
/* ------------------- Banner --------------------- */
#banner-int {height:184px;margin:5px 0px;width:100%;overflow:hidden;}
.titlu-pagina {font: 72px/25px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif; color:#fff;position: absolute;top: 85px;left: 100px;}


@media (max-width: 1199px) {
.titlu-pagina {font-size:48px;left:25px;}	
}

@media (max-width: 729px) {
.titlu-pagina {font-size:36px;left:15px;padding-right: 20px;line-height: 31px;}	
}
/* ------------------- Meniu Interior ------------- */
.meniu-interior {
	clear: both;
	width: 100%;
	
	background-color: #fff;
	margin-bottom: 5px;
	padding:7px 25px;
}
#box-meniu-interior {background-color: #fff;margin-bottom: 5px;}
.meniu-interior .lista-nav-big {float:left;}
.meniu-interior .lista-nav-big .activ, .meniu-interior .lista-nav-big li:hover {padding-bottom:15px;}
#button-meniu-interior {display:none;}

@media (max-width: 1199px) {
.meniu-interior .lista-nav-big {margin-top:10px;} 
.meniu-interior .lista-nav-big li {margin:0px;line-height: 20px;}
.meniu-interior .lista-nav-big li:first-child {border-top:none;}
.meniu-interior {padding:0px 25px 0px 25px;}
#box-meniu-interior {height:60px;overflow: hidden;}
.meniu-interior .lista-nav-big .activ, .meniu-interior .lista-nav-big li:hover {padding:18px 0px 6px 0px;}
#button-meniu-interior {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	top: 16px;
	right: 28px;
	background: url('../img/buton-meniu-interior.jpg') no-repeat right center;
	cursor:pointer;
	display:block;
}
}

@media (max-width: 729px) {
.meniu-interior {padding:0px 15px;}
#button-meniu-interior {right: 18px;}
}
/* ------------------ Content --------------------- */


#content-wrapper {
	margin-top:290px;
	
}

.caseta {
	background-color:#fff;
	min-height:260px;
	margin-bottom:5px;
	padding:25px;
}
.special-height {min-height:280px;}
.page-text {min-height:935px;font: 18px/25px MetaSerifBookRegular, Arial, Helvetica, sans-serif; color:#6f5f69;padding:30px 25px;}
.service-text {min-height:596px !important;}
.text-negru {color:#2c292d;margin-bottom:30px;} 
.page-text ul {margin-top:30px;}
.page-text ul li{margin-bottom:30px;}
.page-text ul li:before {content: "•";color: red;padding-right:20px;}
.page-text ul li span {color:#ff0000;}
.thin-box {min-height: 60px;line-height: 40px;padding: 10px 25px;}


.caseta-titlu { font: 22px/30px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif; color:#4f4553; margin-bottom:30px;}
.caseta-bkg {background-repeat: no-repeat;background-position: center 80px;}
.caseta-bkg .caseta-content {margin-top:195px;}
.caseta-content a {color:#ff0000;}
.caseta-content a:hover {color:#ff0000;text-decoration:none;}
.bkg-brown {background-color:#ececec;}
.abroad-mare {height: 670px;}
.bkb-mare .caseta-content {margin-bottom:0px;}
.minimize-caseta {display:none;}
#caseta-online {background-image:url('../img/caseta-online.jpg');}

#caseta-acasa {background-image:url('../img/caseta-acasa.jpg');}
#caseta-cash {background-image:url('../img/caseta-cash.jpg');}
#prescurtare {display:none;}
#intreg {display:block;}
.caseta-content {font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif; color:#6f5f69;margin-bottom:30px;}
.detail-link {font: 14px/20px DINNextRoundedLTProMedium, Arial, Helvetica, sans-serif; color:#ff0000;text-transform: uppercase;}   
.caseta-titlu a:hover {color:#ff0000; text-decoration: none;}

.padding-fix {padding-right:25px;}
#table-ammount td {padding-left: 20px;}
#table-ammount tr {height:37px;line-height: 37px;border-bottom:1px dotted #cac7cc;}
#table-ammount tr:first-child {background-color:#e1dee3;border:none;height:30px;line-height: 30px;}
#table-ammount tr td:first-child {width:60%;color:#ff0000;font: 18px/37px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;}
#table-ammount tr:first-child td {font: 14px/30px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif; color:#6f5f69;}
.caseta-form {margin:0px;}
.lista-services li {padding-left:10px; border-bottom:1px dotted #c1bcc3; color: #ff0000;font: 18px/37px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;}
.lista-services li:first-child {margin-top: -5px;}
.lista-services li:last-child {border:none;}

@media (min-width:1200px) {
.bkb-mare {min-height:605px;}
.bkb-mare .caseta-content {margin-top:350px;margin-bottom:0px;}
.online {background-image:url('../img/caseta-online-mare.jpg') !important;}
.cash {background-image:url('../img/caseta-cash-mare.jpg') !important;}

}
@media (max-width:1199px) {
.bkb-mare .caseta-content li {padding-left:0px;}
.bkb-mare .caseta-content:nth-child(odd) {margin-top:30px;}
}

@media (min-width:729px) and (max-width:1199px){
.bkb-mare {min-height:541px;}
}
/* ------------- Calculator ----------- */

#caseta-calculator {background-color:#b5251d;max-height: 385px;overflow: hidden;}
#caseta-calculator .caseta-titlu {color:#fff;}
#calc-login {float: right; font-size:14px; line-height: 36px;color:#ff9999;}
#form-calc {font: 14px/30px MetaSerifBookRegular, Arial, Helvetica, sans-serif; color:#6f5f69;}
#form-calc select {width: 100%;border: none;padding: 4px;border-radius: 5px;margin-bottom: 10px;}

.radio-container {width:50%;float:left;margin-bottom: 10px;}
.radio-container .lable {background-color:#fff;padding-left:5px;cursor:pointer;}
#form-calc #credit {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
#form-calc #account {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.radio-container .radioactiv {background-color:#ff9999; color:#ff0000;}
.radio-container input {display:none;}

.div-input {position: relative;clear: both;margin-top: 10px;}
.input-lable {position: absolute;top: 0px;left: 5px;}

.div-input input {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 5px 5px 4px 0px;
	text-align: right;
	font: 18px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif; color:#ff9999;
}

.box-rezultate {margin-top:15px; color:#fff; font: 14px/14px MetaSerifBookRegular, Arial, Helvetica, sans-serif;}
.box-rezultate input {margin-right:5px;}
.box-rezultate .rezulatate {float:right; font: 18px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif; color:#ff9999;}
.total-calc {
	margin-top: 15px;
	border-top: 1px solid #990000;
	padding-top: 17px;
	color:#fff;
	font: 14px/30px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;
}
.total-calc #rezultat {float:right;font-size: 30px;}

div.calc-mare {max-height:inherit !important;}
div.calc-mare #form-calc select {width:48%;}
div.calc-mare #form-calc select:first-child {margin-right:15px;}
div.calc-mare #form-calc .radio-container {width:24%;}
div.calc-mare #form-calc .div-input {position: relative;margin-top: 0px;width: 48%;float: left;margin-left: 19px;clear:inherit;}
div.calc-mare .box-rezultate {clear:both;padding-right: 3px;border-bottom:1px solid #990000;padding-bottom: 13px;margin-top:12px;}
div.calc-mare div.total-calc {padding-top:60px;border:none;margin-top:0px;}
#login-box {background-color:#781111;padding:25px;margin-top:60px;}
#login-titlu, #form-login #login-submit {color:#fff;font: 14px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;}
#text-login {color:#ff9999;font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif;margin-top:20px;padding-right: 15px;}
#form-login input {color:#6f5f69;width:100%; border:none;border-radius:5px;margin-bottom:10px;padding: 5px 5px 4px 10px;font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif;}
#form-login input::-webkit-input-placeholder { color:#6f5f69;}
#form-login input:-moz-placeholder {color:#6f5f69;opacity:  1;}
#form-login input::-moz-placeholder {color:#6f5f69;opacity:1;}
#form-login input:-ms-input-placeholder {color:#6f5f69;}
#form-login #login-submit {background-color:transparent;border:1px solid #b5251d;}
#form-login #login-submit:focus {border:1px solid #b5251d;}

@media (max-width:1199px){
.service-text {min-height:initial !important;}
.abroad-mare {height: initial;}
}

@media (max-width:729px){
div.calc-mare #form-calc select, div.calc-mare #form-calc .div-input {width:100%;margin-right:0px;margin-left:0px;}
div.calc-mare #form-calc .radio-container {width:50%;}	
#login-box {margin-top:20px;width: 296px;margin-left: -15px;padding:20px 15px;}
#text-login {margin-bottom:15px;}
.calc-mare {padding-bottom:0px !important;}
div.calc-mare div.total-calc {padding-top: 25px;}
#calc-login {line-height:20px;}
}

@media (max-width: 340px) {
#login-box {width:113%;}

}
/* ------------- News ----------------- */
.slider-news {min-height:185px;}
.moneygram {min-height:90px;text-align: center;}
.page-text .news-list {margin-top:0px;} 
.page-text .news-list li {padding:40px 0px; margin:0px 65px;border-bottom:1px solid #c9c8c1;height:130px;}
.page-text .news-list li:first-child {padding-top:10px;height:100px;}

.news-date {font-size:14px;}
.page-text .news-exp {padding-right:180px;padding-left:20px;font-size:17px;line-height: 25px;color:#2c292d;display: block;}
.news-citeste {font-size: 14px;color: #b5251d;float: right;position: absolute;top: 0px;right: 0px;padding-right: 40px;}
.news-citeste:hover {color:#b5251d;text-decoration:none;cursor:pointer;}
.page-text .news-list li:before {display:none;}
#more-news {
	background-color: #b5251d;
	padding: 12px 50px 8px;
	width: 224px;
	line-height: 17px;
	margin: 30px auto 0px auto;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	font:14px/20px DINNextRoundedLTProRegular, Arial, Helvetica;
	cursor:pointer;
}

@media (max-width:1199px){
.page-text .news-list li {margin:0px;}
.page-text .news-exp {padding:0px 100px 0px 0px;}
}

@media (max-width:729px){
.page-text .news-list li {padding:20px 0px;height:110px;}
.page-text .news-exp {padding:0px;display:initial;height:50px;overflow: hidden;}
.news-citeste {position:inherit;float:inherit;padding-left:10px;font-size:17px;}
}

/* ------------- Caseta News ---------- */

.slider-news .anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative; 
	height:75px !important;
}
.slider-news .anythingSlider .anythingWindow {
  	overflow: hidden;
	position: relative;
	/*width: 100%;*/
	height: 100%;
}
.slider-news .anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.slider-news .anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	height:75px !important;
	position: relative;
	box-shadow: none;
	
}
.slider-news .anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.slider-news .anythingSlider .fade .activePage {z-index: 1;}


.slider-news .anythingControls a .buton-selected-slide {
	width:15px; 
	height:15px;
	background:url(../img/news-slide.jpg) center center no-repeat;
}
.slider-news .anythingControls li {display: inline-block; margin-left:5px;}
.slider-news .anythingControls {text-align: center;height: 20px;position: absolute;top: -75px;right: -13px;}
.slider-news .anythingControls .cur .buton-selected-slide {background-color:red;background:url(../img/news-slide-active.jpg) center center no-repeat;}

.news-slide-titlu {font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif;color:#ff0000;max-height:40px;overflow:hidden;margin-bottom:5px;}
.news-slide-data {font-size:14px;color:#6f5f69;}
.news-slide-link {position: absolute;bottom: 0px;left: 0px;font: 14px/20px DINNextRoundedLTProMedium, Arial, Helvetica, sans-serif;color:#ff0000;}

@media (max-width:729px){
.slider-news .anythingControls {right: 0px;bottom: 0px;top: inherit;}
}

/* ------------- Retea ---------------- */
.network-letter {font: 72px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;color:#ffcccc;height: 72px;line-height: 72px;}
.network-list a {color:#b5251d;}
.network-list a:hover {color:#b5251d;text-decoration:none;}
.network-list li {border-bottom:1px solid #c9c8c1;margin-left:70px;padding:25px 0px;}
.network-list li:first-child {padding-top:0px;} 
.network-list li:last-child {border:none;}
.vezi-harta {float:right;}
.oras {font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif;color:#4f4553;text-transform:uppercase;}
.network-adresa {padding-right: 30px;}
.program, .network-adresa {font: 14px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;color:#7a707e;}
.letter-box {border-bottom:1px solid #c9c8c1;margin-bottom:25px;}
.letter-box:last-child {border:none;margin-bottom:0px;}
.vezi-harta {display: inherit;}
#button-top-map {
	position: absolute;
	top: 0px;
	width: 60px;
	height: 60px;
	background-color: #b5251d;
	right: -65px;
	color:#fff;
	cursor:pointer;
	font: 12px/60px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;
	text-align:center;
	
}

@media (max-width:1199px){
.vezi-harta {float:inherit;}
.oras {margin-bottom:30px;}
}

@media (max-width:729px){
.network-letter	{float: left;}
.oras {margin-bottom:25px;}
.program {margin-top:25px;}
.network-letter {font-size:36px;height: 36px;line-height: 36px;}
.network-list li {margin-left:50px;}
.vezi-harta {display: block;}
#button-top-map {display:none;}
#gmap_canvas {height:285px !important;}
}

/* ------------- Agent ---------------- */

#form-agent {margin-top:80px;}
.input-box {margin-top:25px;}
.agent-lable {font: 14px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;text-transform:uppercase;}
.agent-input {width:100%;border-radius:5px; border:1px solid #ffcccc;background-color:#f3f3f3;color:#2c292d;padding: 6px 10px;}
.agent-input:focus {background-color:#fff;}
.input-box-jumate {width: 48%;float: left;}
.input-box-jumate:nth-child(odd) {float:right;}
.agent-submit{width: 48%;background-color:#b5251d;color:#fff; font-family:DINNextRoundedLTProRegular, Arial;border:none;border-radius:5px;padding: 9px 0px 6px;}

@media (min-width:1199px) {
.page-agent {padding:40px 50px;}
}
@media (max-width:729px) {
.agent-submit {width:100%;}
}

/* ------------- Services ------------- */
.margin-top {margin-top:5px;}


/* ------------- Footer --------------- */


#footer {clear:both;margin-bottom:100px;color:#4f4553;}
#footer a {color:#4f4553;}
#footer a:hover {color:#4f4553;text-decoration:none;}
.titlu-lista-footer {margin-top:65px;font: 14px/20px MetaSerifBookRegular, Arial, Helvetica, sans-serif;margin-bottom:30px;}
.liste-footer {font: 14px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;}
#suport-image {float:left;margin-right:20px;margin-top: -10px;}
#button-top {
	margin-top:-47px;
	float:right;
	font: 12px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;
	color:#b5251d;
	padding-right:15px;
	background:url('../img/sageata-top.jpg') no-repeat right center;
	cursor:pointer;
	text-align: right;
}
#footer-right {float:right;}

@media (max-width: 1199px) {
#footer-right {float:initial;}
#button-top {margin-top:40px;}
.page-text {min-height: inherit;}

}

@media (max-width: 729px) {

.titlu-lista-footer {margin-top:20px;margin-bottom: 4px;}
.liste-footer {border-bottom:1px solid #c9c8c1;padding-bottom:30px;}
.thin-box {line-height: 20px;}
#footer-right {margin-top:30px;}
#button-top {margin-top: 80px;float: left;}
#suport-image {float:initial;position:absolute;right: 0px;margin: 0px;top: 100px;}
.caseta {padding:25px 15px;}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	padding:0px !important;
}
.caseta {min-height:inherit;}
.caseta-titlu {font-size:18px;line-height:18px; width: 90%;}
.minimize {height:60px;overflow:hidden;}
.minimize-caseta {
	display:block;
	position: absolute;
	top: 24px;
	right: 15px;
	font-size: 20px;
	cursor:pointer;
	width: 20px;
	height: 20px;
	text-align: right;
	line-height: 20px;
	font: 20px/20px DINNextRoundedLTProRegular, Arial, Helvetica, sans-serif;
	color:#8e8591;
}
#caseta-calculator .minimize-caseta {color:#fff;}
#prescurtare {display:block;}
#intreg {display:none;}
#abroad-1 {margin-top:10px;}
.moneygram {padding:15px;}
.moneygram img {height:28px;}
.text-negru {margin-bottom:20px;} 
.page-text ul {margin-top:20px;}
.page-text ul li{margin-bottom:20px;}
.margin-top {margin-top:35px;}
#banner-int {margin: 35px 0px 5px;}
}
@media (max-width: 340px) {


}
